
@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TravelBlog.Models.Person>

@foreach (var person in Model)
{
  <h2>Experiences in @Html.DisplayFor(x => person.location.Name)</h2>
  <p>@Html.DisplayFor(x => person.experience.Description) with @Html.DisplayFor(x => person.Name)</p>
 }
